@charset "utf-8";
/* CSS Document */
/* reset css */
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td, span, input, textarea {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    font-family: "Microsoft Yahei",Verdana,Arial,Helvetica,sans-serif;
    background: #f9f9f9;
}

li, ol {
    list-style: none;
}

ins {
    text-decoration: none;
}

i, em {
    font-style: normal;
}

a {
    text-decoration: none;
    font-family: "Microsoft Yahei";
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

a:active {
    star: expression(this.onFocus=this.blur());
}

:focus {
    outline: 0;
}

.clear {
    clear: both;
    line-height: 0px;
    overflow: hidden;
    zoom: 1;
    font-size: 0px;
    content: '.';
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

img {
    padding: 0;
    margin: 0;
}

a img {
    border: none;
}

input,textarea {
    border: none;
    font-family: "Microsoft Yahei";
    font-size: 13px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 14px;
}
/* header css */
.wrap {
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.header {
    background-color: #e2e2e2;
    background-image: radial-gradient(circle, #fff, #cecece);
    background-size: 100% auto;
}

a.logo {
    width: 35.6%;
    float: left;
    padding: 2% 0 1% 2%;
    display: block;
}

a.logo img {
    width: 100%;
}

a.right-phone {
    display: block;
    width: 53%;
    margin: 4% 3% 0 0;
    text-align: right;
    float: right;
}

.m-tel {
    width: 100%;
    overflow: hidden;
    padding: 25% 0 0 0;
    height: auto;
    position: relative;
}

.m-tel .u-tel {
    height: 54%;
    width: 14%;
    display: block;
    background: url("../images/tel.png") no-repeat;
    position: absolute;
    left: 17%;
    top: 12%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@keyframes xshow {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes xshow {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes xshow {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes xshow {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes xshow {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes xshow {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.u-tel .z-ln-1 , .u-tel .z-ln-2 , .u-tel .z-ln-3 {
    border: 1px solid #454545;
}

.u-tel .z-ln-1 {
    z-index: 10;
    display: inline-block;
    width: 3px;
    height: 3px;
    top: 6px;
    right: 6px;
    border-width: 1px 1px 0 0;
    border-radius: 0 30px 0 0;
    position: absolute;
    animation-name: xshow2;
 /*动画名称*/
    animation-duration: 4s;
/* 动画时间*/
    animation-timing-function: linear;
  /*动画频率，匀速*/
    animation-iteration-count: infinite;
 /*动画循环播放的次数，infinite为无限次*/
    -webkit-animation-name: xshow2;
   /*针对苹果浏览器写的兼容*/
    -webkit-animation-duration: 4s;
 /*针对苹果浏览器写的兼容*/
    -webkit-animation-timing-function: linear;
 /*针对苹果浏览器写的兼容*/
    -webkit-animation-iteration-count: infinite;
 /*针对苹果浏览器写的兼容*/
    -o-animation-name: xshow2;
 /*针对欧朋浏览器写的兼容*/
    -o-animation-duration: 4s;
 /*针对欧朋浏览器写的兼容*/
    -o-animation-timing-function: linear;
 /*针对欧朋浏览器写的兼容*/
    -o-animation-iteration-count: infinite;
} /*头部电话一闪一闪的线条，css3样式*/
.u-tel .z-ln-2 {
    z-index: 10;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-width: 1px 1px 0 0;
    border-radius: 0 35px 0 0;
    position: absolute;
    top: 3px;
    right: 3px;
    animation-name: xshow;
  /*动画名称*/
    animation-duration: 4s;
 /* 动画时间*/
    animation-timing-function: linear;
  /*动画频率，匀速*/
    animation-iteration-count: infinite;
 /*动画循环播放的次数，infinite为无限次*/
    -webkit-animation-name: xshow;
 /*针对苹果浏览器写的兼容*/
    -webkit-animation-duration: 4s;
 /*针对苹果浏览器写的兼容*/
    -webkit-animation-timing-function: linear;
 /*针对苹果浏览器写的兼容*/
    -webkit-animation-iteration-count: infinite;
 /*针对苹果浏览器写的兼容*/
    -o-animation-name: xshow;
 /*针对欧朋浏览器写的兼容*/
    -o-animation-duration: 4s;
 /*针对欧朋浏览器写的兼容*/
    -o-animation-timing-function: linear;
 /*针对欧朋浏览器写的兼容*/
    -o-animation-iteration-count: infinite;
} /*头部电话一闪一闪的线条，css3样式*/
.u-tel .z-ln-3 {
    z-index: 10;
    display: inline-block;
    width: 7px;
    height: 7px;
    border-width: 1px 1px 0 0;
    border-radius: 0 35px 0 0;
    position: absolute;
    top: 0px;
    right: 0px;
    animation-name: xshow;
  /*动画名称*/
    animation-duration: 4s;
 /* 动画时间*/
    animation-timing-function: linear;
  /*动画频率，匀速*/
    animation-iteration-count: infinite;
 /*动画循环播放的次数，infinite为无限次*/
    -webkit-animation-name: xshow;
 /*针对苹果浏览器写的兼容*/
    -webkit-animation-duration: 4s;
 /*针对苹果浏览器写的兼容*/
    -webkit-animation-timing-function: linear;
 /*针对苹果浏览器写的兼容*/
    -webkit-animation-iteration-count: infinite;
 /*针对苹果浏览器写的兼容*/
    -o-animation-name: xshow;
 /*针对欧朋浏览器写的兼容*/
    -o-animation-duration: 4s;
 /*针对欧朋浏览器写的兼容*/
    -o-animation-timing-function: linear;
 /*针对欧朋浏览器写的兼容*/
    -o-animation-iteration-count: infinite;
} /*头部电话一闪一闪的线条，css3样式*/
.right-phone span {
    font-size: 15px;
    color: #f5821f;
}

.header .m-tel {
    width: 100%;
    overflow: hidden;
    padding: 25% 0 0 0;
    height: auto;
    position: relative;
}

.u-num {
    font-size: 17px;
    color: #f50000;
    text-shadow: none;
    position: absolute;
    top: 17%;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
} 


}
/* scrool css */
.scroll {
    height: auto;
    background: red;
}

.scroll-box,.m-box {
    height: 270px;
    overflow: hidden;
}

.m-box li img {
    width: 100%;
}

.m-cnt {
    height: 3px;
    margin-top: 1px;
    background: #333;
}

.m-cnt li {
    float: left;
}

.z-on {
    background: #f58220;
}
/* prose css */
.prose {
    padding-top: 8%;
    padding-bottom: 8%;
    position: relative;
    background: #fff;
}

.prose dl {
    width: 16%;
    float: left;
    margin: 0 4.3%;
}

.prose dt img {
    width: 100%;
}

.prose dd {
    font-size: 11px;
    color: #313131;
    padding-top: 3%;
    text-align: center;
}

    /*question css */
.question {
    height: auto;
    margin-top: 5%;
}

.question-header {
    font-size: 15px;
    color: #000;
    background: #dfdfdf;
    padding: 3% 4%;
    position: relative;
    line-height: 1.5;
}

.question-text {
    line-height: 180%;
    font-size: 16px;
    color: #000;
    padding-left: 6%;
}

.question-team {
    line-height: 180%;
    font-size: 16px;
    color: #000;
    padding-left: 6%;
}

.question .wh {
    font-size: 24px;
    color: #f58220;
    font-weight: bold;
    margin-right: 1%;
}

.orange {
    color: #f58220;
}

.team {
    line-height: 180%;
    font-size: 16px;
    color: #000;
    padding-left: 6%;
}
    /*turs css */
.turs-img {
    width: 7%;
    overflow: hidden;
    display: block;
    float: left;
    padding-right: 1%;
}

.turs-img img {
    width: 100%;
    vertical-align: middle;
}

.turs p {
    font-size: 20px;
    color: #000;
    text-align: center;
    line-height: 150%;
    padding-top: 5%;
}

.turs-box {
    float: left;
}

.turs dl dd h3 {
    font-size: 17px;
    color: #000;
    margin-bottom: 4%;
}
    /*callme css */
.call-me {
    background: #dfdfdf;
    border-radius: 5px;
    position: relative;
}

.m-tel2 .start {
    color: #000;
    float: left;
    display: block;
}

.u-num {
    font-size: 17px;
    color: #f50000;
    text-align: right;
    float: right;
    display: block;
}

/*  net-operation */
.net-operation {
    margin: 0 7%;
    background: #dfdfdf;
    border-radius: 5px;
    padding: 2%;
    position: relative;
}

.net-operation .m-tel .u-tel {
    height: 57%;
    width: 7%;
    display: block;
    background: url("../images/tel.png") no-repeat;
    position: absolute;
    left: 47%;
    top: 16%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*anli css*/
.anli {
    height: auto;
    margin-top: 5%;
}

.m-cnt1 li {
    float: left;
    position: relative;
    font-size: 15px;
    color: #000;
    width: 50%;
    background: #dfdfdf;
    padding: 2% 0;
    text-align: center;
}

.anli .z-on {
    background: #f58220;
}

.anli .con li {
    position: relative;
    float: left;
    width: 28.1%;
    margin: 4% 0 0 4.3%;
}

.anli .con li img {
    width: 100%;
    border: 1px solid #c5c5c5;
}

.anli .con li span {
    display: block;
    text-align: center;
    font-size: 15px;
    color: #666;
    line-height: 160%;
}
/* jz css*/
.jz {
    height: auto;
    padding-bottom: 5%;
}

.jz-nav {
    font-size: 15px;
    color: #000;
    background: #dfdfdf;
    padding: 3% 4%;
    position: relative;
}

.more {
    float: right;
}
/* ph css*/

.u-tel {
    height: 60%;
    width: 7%;
    display: block;
    background: url("../images/tel.png") no-repeat;
    position: absolute;
    left: 47%;
    top: 16%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*ry css*/
.ry {
    margin: 5% 0;
}

.ry li {
    float: left;
    width: 40.9%;
    margin: 4% 0 0 5.1%;
}

.ry li img {
    width: 100%;
    border: 1px solid #e1e1e1;
}

.ry li span {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #000;
    line-height: 160%;
}
/*news */
.news .m-cnt1 li {
    width: 33%;
}

.news .m-cnt1 .z-on {
    background: #f58220;
}

.news .con li {
    line-height: 300%;
    border-bottom: 1px dashed #929292;
    font-size: 12px;
    color: #666;
}

.news .con ul {
    margin: 2% 4%;
}
/*ft css*/
.g-ft {
    background: #252728;
}

.m-top {
    display: block;
    border-bottom: 1px solid #000000;
    padding: 1% 0;
}

.u-top {
    width: 25%;
    margin: 0 auto;
    font-size: 12px;
    color: #f08300;
    text-shadow: 0 1px 1px #000;
}

.f-pr {
    position: relative;
}

.u-top span {
    width: 22%;
    display: inline-block;
}

.u-top span img {
    width: 100%;
    vertical-align: middle;
}

.g-ft em {
    float: left;
    line-height: 32px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
}

.shareWrap:after {
    display: block;
    content: "";
    clear: both;
}

.m-bmu {
    padding: 4% 0 0;
    text-align: center;
    position: relative;
    color: #a0a0a1;
    text-shadow: 0 1px 1px #000;
    border-top: 1px solid #3a3a3a;
    line-height: 200%;
}

.m-bmu p {
    padding: 2%;
}

.m-bmu a {
    color: #a0a0a1;
    padding: 0 0.5%;
}

.social_nav5 {
    height: 50px;
    background: #777;
    line-height: 50px;
    position: fixed;
    bottom: 0;
    max-width: 640px;
    min-width: 320px;
    width: 100%;
    z-index: 999;
}

.social_nav5 ul li {
    float: left;
    width: 20%;
    position: relative;
    border-right: 1px solid #555;
}

.social_nav5 ul li a {
    color: #fff;
    display: block;
    font-size: 12px;
    text-shadow: none;
}

.social_nav5 .erji {
    position: absolute;
    bottom: 50px;
    left: -20px;
    background: #f3f3f3;
    padding: 0 8%;
    width: 100px;
    border: 1px solid #e4e4e4;
    display: none;
}

.social_nav5 .erji a {
    display: block;
    height: 3em;
    line-height: 3em;
    font-size: 12px;
    text-shadow: none;
    color: #7d7d7d;
    border-bottom: 1px solid #e4e4e4;
}

.social_nav5 .span1 {
    display: block;
    width: 13%;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0%;
    height: 20px;
    padding-top: 30px;
}

.social_nav5 .span1 span {
    color: #fff;
    line-height: 1em;
    font-size: 12px;
    line-height: 1em;
    display: block;
}

.setpc {
    position: fixed;
    bottom: 55px;
    right: 0;
    z-index: 999;
    overflow: hidden;
}

.setpc a {
    background: url("../images/ico.png") no-repeat;
    background-size: 3rem 3rem;
    height: 3rem;
    width: 3rem;
    display: block;
}

.social_nav5:before {
    position: absolute;
    content: "";
    top: 25%;
    right: 5.5%;
    width: 0;
    height;0; border-bottom: 0.5em solid #fff;
    border-right: 0.5em solid transparent;
    border-left: 0.5em solid transparent
}